.item-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    flex: 1;
  }
  
  .item-image{
    width:600px;
    height:500px;
    margin-left:10px;
    border-radius: 5px;
  }
  
  .details-container {
    flex: 1;
    width: 400px;
    height:350px;
    margin-right:20px;
    padding: 10px;
    border-radius:10px;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
  }
  
  .item-name{
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 18px;
  }
  .details-title{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(24, 98, 121);
  }
  