.content h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.content p{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.content{
    border: 2px solid black;
    padding:10px;
    border-radius: 10px;
    background-color: rgb(67, 162, 185);
}
.section1{
    display: flex;
    gap: 94px;
}
.admin-name{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    padding: 20px;
    background-color: rgb(12, 11, 11);
}