.background-img{
   background-image: url('../../assets/image/login/login.png');
   background-size:100% 100%; /* Scales the background image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background:cover;
   width:100%;
   height: 100vh;
   padding-top: 6%;
}
.login_area {
    width: 500px;
    height: 500px;
    border-radius:5px;
    /* text-align: center; */
    margin-left: 30%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the alpha value (0.5 in this case) to control the transparency */
}
.login_area h1{
    font-size: 44px;
    margin-bottom: 16px;
    font-weight: bold;
    color: #dedce7;
    text-align: center;
}
.login_area .logBtn{
    width: 80%;
    padding: 8px 35%;
    margin-top: 15px;
    background-color: #2ca087;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left:35px;
    text-align: center;
}
.login_area .inputInfo{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgba(29, 28, 28, 0.6);
    margin-left:35px;
}
.login_area .logBtn:hover{
    background-color: #2c7a87;
}
.login_area label{
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
    margin-left:35px;

}
.login_area .fp{
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
    margin-left:60%;
}
.login_area p{
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
    margin-left:135px;
    margin-top: 20px;
}
.login_area p a{
    color: #2ca087;
    font-weight: bold;
}